<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Respond page</title>

    <link href='/css/site.css' rel='stylesheet' type='text/css'/>
</head>
<body>


<section class='container'>
    <hgroup>
        <h1>Welcome to match watcher</h1>
    </hgroup>


    <div class="row">
        <section class='col-xs-12 col-sm-6 col-md-6'>
            <section>
                <h2>Enter match id</h2>

                <form><input type="text" name="match_id"><input type="submit"></form>
            </section>
        </section>
    </div>
</section>


</body>
</html>